.overlay {
    .overlay__play {
        display: flex;
        align-items: center;
        position: fixed;
        top: 45px;
        left: 50px;

        p {
            margin: 0;
        }
    }

    .overlay__static,
    .overlay__tv {
        opacity: 0.5;
        mix-blend-mode: multiply;
        position: absolute;
        width: 100vw;
        height: 100vh;
    }

    .overlay__tv {
        opacity: 0.6;
        mix-blend-mode: normal;

        box-shadow: inset 0 0 100px var(--color-black);
    }

    // .overlay__static {
    //     position: fixed;
    //     top: 0;
    //     left: 0;

    //     width: 100vw;
    //     height: 100vh;
    //     opacity: 0.45;
    //     mix-blend-mode: multiply;
    // }

    // .overlay__tv {
    //     position: fixed;
    //     top: 0;
    //     left: 0;

    //     z-index: -1;
    //     width: 100vw;
    //     height: 100vh;

    //     box-shadow: inset 0 0 100px var(--color-black);
    // }
}