/* ==========================================================================
   COLORS / SETTINGS
   ========================================================================== */

:root {
    // Couleur de base
    --color-white: #fff;
    --color-black: #001524;

    // Couleurs du projet
    --color-primary: #001524;
    --color-secondary: #15616D;

    //couleur-background
    --color-background-primary: #F1FFFA;
    --color-background-secondary: #EB5160;

    //couleurs-palettes
    --color-palette-primary: #540d6e;
    --color-palette-secondary: #ffd23f;
    --color-palette-tertiary: #3bceac;
    --color-palette-quaterny: #2e86ab;
    --color-palette-quinary: #d8b094;
}
