/* ==========================================================================
   COLORS / SETTINGS
   ========================================================================== */

:root {
    // Couleur de base
    --color-white: #fff;
    --color-black: #000;

    // Couleurs du projet
    --color-primary: #D64045;

    //couleur-background
    --color-background-primary: radial-gradient(#686868, #000);
}