/* ==========================================================================
   FONTS / SETTINGS
   ========================================================================== */
/// Font family
:root {
    --font-primary: 'Press Start 2P', cursive;

    --font-size-content: 1.88rem;
    --font-size-copyright: 1.25rem;


    --font-size-nav: 5.375rem;
    --font-size-liens: 2.5rem;

    /// Grosseur des textes
    --font-size-h1: 5.63rem;
    --font-size-h2: 3.75rem;
    --font-size-h3: 3.125rem;
}