/* ==========================================================================
   FONTS / SETTINGS
   ========================================================================== */
/// Font family
:root {
    --font-primary: 'Fira Sans', sans-serif;
    --font-secondary: 'Comfortaa', cursive;

    --font-size-content: 1.25rem;


    --font-size-liens: 1.5rem;

    /// Grosseur des textes
    --font-size-h1: 6.25rem;
    --font-size-h2: 4.38rem;
    --font-size-h3: 3.13rem;

    --font-size-sous-titre-single:2.15rem;

    /// Grosseur des textes en responsive tablette
    --font-size-h1-responsive: 4rem;
    --font-size-h2-responsive: 3rem;
    --font-size-h3-responsive: 2.25rem;
    --font-size-h4-responsive: 1.5rem;

    
    --font-size-sous-titre-single-responsive:1.4rem;

    --font-size-content-responsive: 1rem;

    /// Grosseur des textes en responsive tablette
    --font-size-h1-mobile: 2.7rem;
    --font-size-h2-mobile: 2rem;
    --font-size-h3-mobile: 1.4rem;
    --font-size-h4-mobile: 1.25rem;

    --font-size-content-mobile: 0.9rem;

    --font-size-infocard: 0.6rem;
    --font-size-infocard-responsive: 0.5rem;

    //font-weight
    --fw-regular: 400;
    --fw-bold: 700;
    --fw-xbold:800;
}
